.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
}

.cardbox {
  margin: 10px;
  width: 18%;
  height: 200px;
  display: block;
  float: left;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
    color: #a7a7a7;
    font-size: 30px;
}

/* MEMBER SECTION */

.member-list {
  padding: 25px;
  margin: 20px auto;
  min-height: 260px;
  width: 980px;
}

.member-list li {
  text-decoration: none;
  list-style-type: none;
  float: left;
  padding: 30px;
  text-align: center;
}

.member-list li span {
  font-family: tahoma;
  font-size: 20px;
  color: brown;
  text-align: center;
}

.member-list li p {
  font-family: tahoma;
  font-size: 14px;
  color: rgb(102, 102, 102);
  text-align: center;
}