body, html {
  margin: 0;
  padding: 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
}

.cardbox {
  margin: 10px;
  width: 18%;
  height: 200px;
  display: block;
  float: left;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
    color: #a7a7a7;
    font-size: 30px;
}

.wrapper-header {
  background: #FFFFFF;
}

/* MEMBER SECTION */

.member-list {
  padding: 25px;
  margin: 20px auto;
  min-height: 260px;
  width: 980px;
}

.member-list li {
  text-decoration: none;
  list-style-type: none;
  float: left;
  padding: 30px;
  text-align: center;
}

.member-list li span {
  font-family: tahoma;
  font-size: 20px;
  color: brown;
  text-align: center;
}

.member-list li p {
  font-family: tahoma;
  font-size: 14px;
  color: #666666;
  text-align: center;
}

/* PROJECT SECTION */

.project-wrap {
  padding: 5px;
  background: #ececec;
}

.project-list {
  padding: 5px;
  margin: 10px auto;
  min-height: 560px;
  width: 980px;
}

.project-list li {
  text-decoration: none;
  list-style-type: none;
  float: left;
  width: 470px;
}

.project-list li .project-li-left{
  padding: 5px;
  float: left;
}


.project-list li .project-li-right{
  padding: 5px;
  float: left;
}

.project-list li span {
  font-family: tahoma;
  font-size: 20px;
  color: rgb(47, 155, 163);
  text-align: center;
}

.project-list li p {
  font-family: tahoma;
  font-size: 14px;
  color: rgb(102, 102, 102);
  width: 140px;
}

.activity-list {
  font-family: tahoma;
  color: #525252;
  text-align: center;
}

.activity-list span {
  color: #388df7;
}
/* REWARDS SECTION */

.rewards-list {
  padding: 1px;
  margin: 1px auto;
  min-height: 100px;
  width: 100%;
}

.rewards-list li {
  text-decoration: none;
  list-style-type: none;
  float: left;
  padding: 50px;
  text-align: center;
}

.rewards-list li span {
  font-family: tahoma;
  font-size: 20px;
  color: brown;
  text-align: center;
}